@import '../../../../styles/base.scss';

.container{
    margin-top: 1%;

    .user-label-style{
        padding: 10px;
      }
}


.icon-align{
    margin-top: 1%;

    .icon-style{
        cursor: pointer;
    }
}
