<div class='readme-text-layout'>
  <h2>Read Me</h2>
  <ul>
    <li>This dashboard is used for whole year with monthly data OTD and Quality metrics are mere roll-up of team
      level KPI’s KPI’s have not been standardized across IDC for OTD and Quality.</li>
    <li>Each team has their own way of measuring OTD, and associated goals The ‘notes’ section in each slide
      explains the team level KPI metric KPI’s are based on latest completed iteration for the projects.</li>
    <li>Three consecutive RED’s in a KPI should have triggered PSP/DIVE at individual team level.</li>
    <li>Number in braces indicates ‘goal’ or target for the metric.</li>
    <li> Other KPI’s (Hiring, Attrition, etc.) are IDC level metric</li>
  </ul>
  <mark>**This is an evolving dashboard and this is in early stages. More maturity, clarity and standardization will
    evolve in coming months.**</mark>
  <div class='readme-content-layout'>
    <h2>Level - 1</h2>
    <p>
      OTD: For teams which have reported data: Percentage of # of teams having data and meeting their respective OTD
      targets/ total
      # of teams in IDC. Goal is >=80% (GREEN). Teams which have not reported will not be counted for total.
      Quality: For teams which have reported data: Percentage of # of teams having data and meeting their respective
      quality targets/ total # of teams in IDC. Goal >=80% (GREEN). Teams which have not reported will not be counted
      for total. Subsequent slides have the team wise OTD & Q data (Level-2).
    </p>
  </div>
  <div class='readme-content-layout'>
    <h2>Level - 2</h2>
    <p>
      OTD, Quality KPI’s rollup with numbers from each individual Teams, as per their KPI definitions and RED/GREEN
      indications
      3 consecutive RED’s in a KPI should have triggered PSP/DIVE at individual team level
      This dashboard is used for whole year. Number in braces indicates ‘goal’ or target for the metric KPI’s
      are based on latest completed iteration for the projects.
    </p>
    <ul>
      <li> ICE – Instrument team & Tocatta reporting from Sep. for WI burndown. Goal is >=90%.</li>
      <li>RMS Dev OTD Metric is WI burndown, goal > 80%.</li>
      <li>IA Legacy: OTD Metric till April (TSP process) is number of weekly goals missed for critical tasks completion.
        From May 2017, DSS process with sprint burndown. Goal is >80%.</li>
      <li>Dolphin : OTD Metric is Sprint burndown % (Goal is 100%).</li>
      <li> DxN : Metric for predictability is Task Hour ratio–plan vs. actual (Goal is >80%).</li>
      <li> CIRRUS: OTD –plan WI in braces and actuals in.</li>
    </ul>
  </div>
</div>