$bg-primary: #0A4385;

$bg-white: #FFFFFF;

$bg-black: #000000;

$bg-secondary: #3275B8;

$text-secondary: #a6d3f6;

$error-color: #d50505;

$success-color: #09a627;

$heading-primary: #337ab7;

$button-secondary: #a9a9a9;