<div>
  <header>Change Password</header>
  <mat-divider></mat-divider>
  <div *ngIf='!newPasswordForm'>
      <form  class="container" fxLayout='column' fxLayoutAlign='center' [formGroup]="validatePasswordForm"
      (submit)="onVerification(validatePasswordForm)">
      <label>To continue, first verify it's you</label>
      <mat-form-field class='password-verify-style' fxFlex>
        <input type= "password" matInput placeholder="Current Password" formControlName="password" required>
      </mat-form-field>
      <div *ngIf="invalidPasswordErorr" class="error">{{invalidPasswordErorr}}</div>
      <div class="button-group">
        <button mat-raised-button>NEXT</button>
      </div>
    </form>
  </div>
  
  <form *ngIf='newPasswordForm && !successMessage' class="container" fxLayout='column' fxLayoutAlign='center' [formGroup]="changePasswordForm"
    (submit)="onPasswordChange(changePasswordForm)">
    <mat-form-field fxFlex>
      <input type= "password" matInput placeholder="New Password" formControlName="newPassword" required>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input type= "password" matInput placeholder="Confirm Password" formControlName="confirmPassword" required>
    </mat-form-field>
    <div *ngIf ='passwordMismatch' class="error">{{passwordMismatch}}</div>
    <div class="button-group">
      <button  mat-raised-button>SAVE</button>
    </div>
  </form>
  <div *ngIf='successMessage'>
      <div class='pass-change-succees'>{{successMessage}}</div>
      <div class="button-group">
          <button class='close-button-width' mat-raised-button (click)="onClose()">Close</button>
      </div>
  </div>
</div>