@import '../../app.component';

form {
margin: 25px;
font-family: 'GraphikRegular';
//   mat-form-field{
//     width: 80%;
//   }
.password-verify-style {
    margin-top: 30px; 
}

}
::ng-deep .mat-dialog-container {
    border-radius: 0px !important;
}
.button-group{
    text-align: center;
    button{
        color: white;
        background-color: #3275B8;
        margin-top: 20px;
        border-radius: 0px;
        width: 45%;
        height: 50px;
        font-size: 15px;
    }
    .close-button-width{
        width: 25% !important;
    }
}
header{
    color: #19639E;
    font-size: 20px;
    font-family: 'GraphikRegular';
    font-weight: bold;
    padding-bottom: 15px;
}

.pass-change-succees{
    color: $success-color;
    font-family: 'GraphikRegular';
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
