@import '../../../styles/base.scss';

.mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0px !important;
}

label{
    margin-top: 3%;
}

.profile-button-margin{
    margin-top: 45px;
}