<h1 mat-dialog-title>Project Details</h1>
<div mat-dialog-content class="example-container">
    <form [formGroup]="projectForm" #formDirective="ngForm" class="basic-font-style">
        <div fxLayout='column' fxLayoutGap="20px" class='input-item-style' fxLayoutAlign="center">
            <mat-form-field>
                <mat-label>Project Name</mat-label>
                <input matInput formControlName="projectName" id='name' required>
                <mat-error *ngIf="projectForm.controls.projectName.hasError('required')">You must enter a value
                </mat-error>
                <mat-error *ngIf="projectForm.controls.projectName.hasError('minlength')">Project name must have at
                    least 2 character</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Opco Name</mat-label>
                <mat-select formControlName="operationalCompanyId">
                    <mat-option *ngFor="let opco of opcos$ | async" [value]="opco.id">
                        {{opco.operationalCompanyName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="projectForm.controls.operationalCompanyId.hasError('required')">You must enter a value
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="opco-button-margin" mat-dialog-actions>
    <button fxFlex mat-raised-button class="btnSubmit" [mat-dialog-close]="projectForm.value"
        [disabled]="!projectForm.valid">
        <mat-icon>save</mat-icon>SAVE
    </button>
    <button fxFlex mat-raised-button class="btnCancel" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>CANCEL
    </button>
</div>